<style>  
  #adsfghjkjtnfbvfwecwqq{
    width:80%;
    left: 10px;
    margin:auto;
    margin-top:5%;
    display: block;
    text-align: center;
  }

  #ythgbfxvdftrdx{
    width: 40%;
    float: left;
    margin-left: 5%;
  }
  #ythgbfxvdftrdxdfgjk{
    width: 40%;
    float: right;
    margin-right: 5%;
  }
  .groupPhoto{
    width: 43%;
    margin: 3%;
    border-radius: 5%;
  }
</style>
<ion-content ng-controller="mainCtrl" scroll="false">
  <img src="img/gallery.PNG" alt="Log in" id="adsfghjkjtnfbvfwecwqq">

  <div style="margin-top:5%;width:90%;margin:auto;display: block;text-align:center;">
      <img src="img/gallery1.png" class="groupPhoto">
      <img src="img/gallery2.png" class="groupPhoto">
      <img src="img/gallery3.png" class="groupPhoto">
      <img src="img/gallery4.png" class="groupPhoto">
      <img src="img/gallery5.png" class="groupPhoto">
      <img src="img/gallery6.png" class="groupPhoto">
  </div>

  <div>
      <a class="button button-outline button-calm" ng-href="#/profileGallery/" id="ythgbfxvdftrdx">
        Your photos
      </a>  
      <a class="button button-outline button-calm" ng-href="#/homemenu/" id="ythgbfxvdftrdxdfgjk">
        Menu
      </a>
  </div>
  
</ion-content>