<style>  
#mijnmooiedivdieopnietstrekt img{
	width: 40%;
} 
</style>
<ion-content ng-controller="mainCtrl" scroll="false">
  <div>
    <a ng-href="#/profile/">
        <img src="img/profileIcon.png" class="logoFloat" style="float:right;height:5% !important">
    </a>

    <a ng-href="#/gallery/">
        <img src="img/selfie1.png" class="logoFloat" style="float:left;height:5%  !important">
    </a> 

    <img src="img/mainmenu.png" alt="Main Menu" id="oiuyfhgvcszv" style="width:80%;margin-left:10%;">
  </div>

  <div id="mijnmooiedivdieopnietstrekt" style="width:70%;margin:auto;">
	 <a ng-href="#/panda2/">
    	<img src="img/item1.png">
	 </a> 	
	 <a ng-href="#/panda2/">
    	<img src="img/item2.png" style="float:right;">
	 </a> 
	 <a ng-href="#/panda2/">
    	 <img src="img/item3.png">
	 </a> 
	 <a ng-href="#/panda2/">
    	 <img src="img/item4.png" style="float:right;">
	 </a> 
	 <a ng-href="#/panda2/" style="display: block;text-align: center;" >
    	 <img src="img/item5.png">
	 </a>
	</div>

    <a ng-href="#/credits/">
        <img src="img/credit.png" style="width:25%;">
    </a> 
	</div>
</ion-content>