<style>  
  #klqdvhkagvlkgalvgahvlgavg{
    height:50%;margin-top: 13px;
  }
  #klqdvhkagvlkgalvgahvlgavg > img{

  }
  #uzgefmujamefguumlkqkgfiauegrliegruigezrig{
    width: 70%;
    margin: auto;
  } 
</style>
<ion-content ng-controller="mainCtrl" scroll="false">

  <center id="klqdvhkagvlkgalvgahvlgavg">
    <img src="img/LogoIdea.png" style="height:100%;" alt="IDEA">
  </center>

  <h2 style="text-align:center" class="calm">We Make FriendShips!</h2>

  <div style="position: absolute;
    bottom: 5px; width: 100%;">
    <div id="uzgefmujamefguumlkqkgfiauegrliegruigezrig">
        <a class="button button-outline button-block button-calm" ng-href="#/login/">
        Log in
      </a>  
      <a class="button button-outline button-block button-calm" ng-href="#/register/">
        Register
      </a>
      </div>    
  </div>
 
</ion-content>