<ion-content ng-controller="panda2" ng-init="pandaStartDisplayBox()" scroll="false">
 	<div class="textBalloon-big">
 		<span>{{content}}</span>
 	</div>
 	<div class="bigPandaBottom">
	 	<div><img src="img/Panda.png" alt="Sorry, MR.Panda went to the bathroom >_<" class="bigPandaBottomImg"></div>
	 	<p style="text-align:center">
		<a class="button button-outline button-calm" style="margin-top:0px; width:45%;" href="#/panda3/">
	        Yes
	    </a>
	    <a class="button button-outline button-calm" style="margin-top:0px; width:45%;" href="#/homemenu/">
	        No
	    </a>
	    </p>
    </div>
</ion-content>