<style>  
	#kkrimgjJHFGLQGVLALVBALEVHJV{
		margin-top: 9% !important;
		display: block;
		margin-right: auto;
		margin-bottom: auto;
		margin-left: auto;
		width: 90%;
	}
	#qkudglqsdvgimgauvkjvagvkqjhsdgkqsvfjkhvskijcv{
		position: absolute;
		bottom: 0;
	}
</style>
<ion-content ng-controller="panda1IntroCtrl" ng-init="pandaStartDisplayBox()" scroll="false">
 	<div class="textBalloon-big">
 		<span>{{content}}</span>
 	</div>
 	<div id="qkudglqsdvgimgauvkjvagvkqjhsdgkqsvfjkhvskijcv">
	 	<div><img src="img/Panda.png" alt="pandas are fun!" id="kkrimgjJHFGLQGVLALVBALEVHJV"></div>
		<a class="button button-outline button-block button-calm" ng-click="nextBtnClick()" style="margin-top:0px;">
	        {{btnMesssage}}
	    </a>
    </div>
</ion-content>