<style>  
  #hsjdgfn{
    margin-top:35%;
  }
  #dfcghjkg{
    width: 30%;
	position: relative;
	float: right;
	right: 10%;
  } 
  #asdfghjkl{
    width: 70%;
    margin-top: 2%;
    margin-left: 2%;
  }
 #qwertygfsdwf {
  	width: 30%;
  	height: 30%;
    margin:auto;
  }
  #ewrtyuimh {
    border-radius: 50%;
    width: 100%;
    margin:auto;
  }
  #cgjbkwcgu {

  }
  #cgjbkwcgu p{
  	text-align:center;
  	color:blue;
  	width: 75%;
	margin: auto;
	clear: both;
  }
  #cgjbkwcgu p strong{
  	float: left;
  }

  #cgjbkwcgu p span{
  	float: right;
  }
  
</style>
<ion-content ng-controller="mainCtrl" scroll="false">

  	<div>
  		<img src="img/profileIcon.png" class="logoFloat">
		<img src="img/profile.png" alt="Profile" id="asdfghjkl">
	</div>

	<div id="qwertygfsdwf">
		<img src="img/pieter.jpg" alt="Profile Picture" id="ewrtyuimh">
 	</div>

 	<div id="cgjbkwcgu">
 		<p>
 			<strong>Name:</strong>  <span>Pieter T.H.</span>
 		</p>
 		<p>
 			<strong>Course:</strong> <span>Computer science</span>
 		</p>
 		<p>
 			<strong>Age:</strong> <span>19</span>
 		</p>
 		<p>
 			<strong>Nationality:</strong> <span>Belgian</span>
 		</p>
 		<p>
 			<strong>Facebook:</strong><span><a>Pieter.TH</a></span> 
 		</p>
 		<p>
 			<strong>Fun Fact:</strong> <span>I'm not a true hacker</span>
 		</p>
    <p>
      <strong>Points:</strong> <span>320</span>
    </p>
 	</div>

 	<div style="height:7%;width:100%;clear: both;">
 	</div>

 	<div style="height:15%;width:100%;">
  		<img src="img/like.png" style="float:left;width: 15%;margin-left:10%;">
  		<p style="float:left;">9001</p>
		<a class="button button-outline button-block button-calm" style="float:right;clear:none;margin-right:10%;" ng-href="#/homemenu/">Menu</a>
	</div>
</ion-content>